<section class="product-navigation">
	<a href="//Symptomatic.com/compliance" class="left">&lsaquo;</a>
	<span class="span-left">Compliance Home</span>
	<span class="quote">&copy; Symptomatic, Inc. 2015</span>
	<a href="//policy.Symptomatic.com" class="right">&rsaquo;</a>
	<span class="span-right">Open Source Policies</span>
</section>